.main-div{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

image{
    width: 50%;
    height: 100%;
}

.content-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}